.footer
    position: relative
    padding-top: 4.375rem
    height: 400px
    .container
        height: 100%
    &__bg
        position: absolute
        top: 0 
        width: 100%
        height: 100%
        z-index: -10
    &_primary
        background: url(/assets/images/footer-bg-primary.svg) 0 0 / contain repeat-x
        // background-color: #ff6b00
    &_secondary
        background: url(/assets/images/footer-bg-secondary.svg) 0 0 / contain repeat-x
        // background-color: #444444
    &-nav, &-links 
        width: 1200px
        margin: auto
    &-card
        color: white
        &__title
            font-size: 1.5rem
        &__list
            font-size: 1rem
        &__link
            color: inherit
        
.nav-list
    &__item
        margin-bottom: 1.125rem

.social-networks
    &-box
        display: flex
        justify-content: space-between


@media screen and (max-width: 1000px) and (min-width: 768.01px)
    .footer
        &-nav, &-links 
            max-width: 780px
            margin: auto
        &-card
            &__title
                font-size: 1.2rem
            &__list
                font-size: .8rem
   