include ../includes/header
include ../includes/approach
include ../includes/footer

doctype html
html(lang="en")
    include ../includes/head
    body 
        +header('primary')
        +approach()
        +footer('footer_primary')
        +footer('footer_secondary')