mixin approach
    .approach
        .container
            .approach__section
                .row
                    .col
                        h1 Системный подход
                        span к образованию
                .row 
                    .col 
                        .approach__wrapper
                            .approach__wrapper-img
                                img(src="/assets/images/Play_perspective_matte_s 1.png", alt="blue play img")
                            .approach__wrapper-img
                                img(src="/assets/images/perspective_matte 8.png", alt="blue play img")
                            .approach__wrapper-img
                                img(src="/assets/images/perspective_matte 4.png", alt="blue play img")
                            .approach__wrapper-img
                                img(src="/assets/images/perspective_matte 5.png", alt="blue play img")
                            .approach__wrapper-img
                                img(src="/assets/images/perspective_matte 6.png", alt="blue play img")
                ul.approach__list
                    li.approach__list-item 
                        a.approach__link(href="#") Видеолекции
                    li.approach__list-item 
                        a.approach__link(href="#") Практика
                    li.approach__list-item 
                        a.approach__link(href="#") Консультации
                    li.approach__list-item 
                        a.approach__link(href="#") Сертификат
                    li.approach__list-item 
                        a.approach__link(href="#") Трудоустройство