mixin footer-list(title, list)
  .col-12.col-sm-4
    .footer-card
      h4.footer-card__title.mb-4= title
      ul.footer-card__list.nav-list
        each item in list    
          li.nav-list__item
            a.footer-card__link(href='#')= item
            
mixin logos(list)
  each item in list
    a.social-networks(href='#')
      img(src='/assets/icons/' + item + '.svg' alt=item + ' ' + 'icon')

mixin footer(theme) 
  .footer
    .footer__bg(class=theme)
    .container.g-0
      .footer-nav
        .row.g-0.justify-content-center
          +footer-list('Направление', ['Дизайн', 'Программирование', 'Маркетинг'])
          +footer-list('Дизайн', ['Графический дизайн', 'UI/UX дизайн', 'Motion дизайн'])
          +footer-list('Программирование', ['Frontend', 'Backend', 'AI'])
      .footer-links
        .row.justify-content-between.align-items-center
          .col-2
              a(href='/index.html')
                img.footer-links__image(src='/assets/images/da-logo-white.svg' alt='Digital Academia Logo')
          .social-networks-box.col-2
              +logos(['facebook', 'instagram', 'telegram'])