mixin footer-list(title, list)
  .col-12.col-sm-4
    h4.menu__title.mb-4= title
    ul
      each item in list    
        li
          a(href='#')= item
            
mixin logos(list)
  each item in list
    a.social-networks(href='#')
      img(src='/assets/icons/' + item + '.svg' alt=item + ' ' + 'icon')

mixin footer(theme) 
  .footer(class=theme)
    .container
      .row
        +footer-list('Направление', ['Дизайн', 'Программирование', 'Маркетинг'])
        +footer-list('Дизайн', ['Графический дизайн', 'UI/UX дизайн', 'Motion дизайн'])
        +footer-list('Программирование', ['Frontend', 'Backend', 'AI'])
        +footer-list('Маркетинг', ['Digital Marketing', 'SMM Pro', 'Youtube', 'Targeting'])
      .row
        .col-2
            a(href='/index.html')
              img(src='/assets/images/da-logo-white.svg' alt='Digital Academia Logo')
        .col-7
        .social-networks-box.col-2
            +logos(['facebook', 'instagram', 'telegram'])