
    .bg-me.pt-5
  nav.container.navbar.navbar-expand-lg
    a.navbar-brand(href='#')
      img(src='images/logo.svg')
    button.navbar-toggler.bg-me(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
        i.bi.bi-list(style='font-size: 30px;\
        color: #FFF;')
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.d-flex.justify-content-between.w-75.marjin-me
        li.nav-item.active
          a.nav-link(href='#') &Bcy;&lcy;&ocy;&gcy;
        li.nav-item
          a.nav-link(href='#') &Kcy;&ucy;&rcy;&scy;&ycy;
        li.nav-item
          a.nav-link(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
        li.nav-item
          a.nav-link(href='#') &Ocy; &ncy;&acy;&scy;
        li.nav-item.dropdown
          a#navbarDropdown2.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-expanded='false')
            | &Rcy;&ucy;
          .dropdown-menu(aria-labelledby='navbarDropdown2')
            a.dropdown-item(href='#') En
            .dropdown-divider
            a.dropdown-item(href='#') O&apos;z
        li.nav-item
          a.nav-link(href='#')
            i.bi.mr-3.bi-telephone
            | +99890 999 9797
.section-1
  .container.py-5
    .text-banner.text_head.mt-150 &SHcy;&kcy;&ocy;&lcy;&acy;-&pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&jcy; &bcy;&ucy;&dcy;&ucy;&shchcy;&iecy;&gcy;&ocy;
    .mt-60.mb-80
      button.btn.btn-banner.border-light.bg-me &Zcy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &kcy;&ucy;&rcy;&scy;
      button.btn.ml-3
        i.bi.bi-play-circle-fill.text-white.play-button
  .shapka
    img(src='images/hat 1.png', height='100%', alt='')
.section-2
  .container
    .text-center.font_main.font-weight-bold.h1.my-5(style='font-size: 50px;') &Ncy;&acy;&shcy;&icy; &ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
    .row.butt.d-flex.justify-content-between
      .b_banner.banner
        .buttons_text.mx-5.my-3 &Vcy;&scy;&iecy;
      .b_banner.banner
        .buttons_text.mx-5.my-3 &Dcy;&icy;&zcy;&acy;&jcy;&ncy;
      .b_banner.banner
        .buttons_text.mx-5.my-3 &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
      .b_banner.banner
        .buttons_text.mx-5.my-3 &Mcy;&acy;&rcy;&kcy;&iecy;&tcy;&icy;&ncy;&gcy;
