mixin more-about()
    .more-about 
        .container
            .more-about__top
                .row 
                    .col 
                        h1 Системный подход 
                            span к образованию
            .more-about__bottom
                .row 
                    .col 
                        ul.sequence
                            li.list_sequence 
                                .wrappers 
                                    img(src="/assets/images/klip.png", alt="Youtube")
                                    p Видеолекции
                            li.list_sequence 
                                .wrappers 
                                    img(src="/assets/images/praktika.png", alt="").praktika
                                    p Практика
                            li.list_sequence 
                                .wrappers 
                                    img(src="/assets/images/konsultatsiya.png", alt="")
                                    p Консультации
                            li.list_sequence
                                .wrappers 
                                    img(src="/assets/images/sertifikat.png", alt="") 
                                    p Сертификат
                            li.list_sequence 
                                .wrappers 
                                    img(src="/assets/images/trudstvo.png", alt="")
                                    p Трудоустройство
                            
