mixin nav()
    .nav 
        .nav__logo
            img(src="/assets/images/da-logo-white.svg", alt="Digital Akademia")
        ul.nav__list
            li.nav__list-item 
                a.nav__link(href="#") Блог
            li.nav__list-item 
                a.nav__link(href="#") Курсы
            li.nav__list-item 
                a.nav__link(href="#") Контакты
            li.nav__list-item 
                a.nav__link(href="#") О нас
        .lang-select-box 
            span Ру
            img(src="/assets/icons/chevron-down.svg", alt="Chevron down")
