.header {
  height: 48rem;
  padding-top: 3.25rem;
}
.header-bg-primary {
  background-color: #ff6b00;
}
.header__hero {
  height: 35rem;
  max-width: 75rem;
  margin: 4.625rem auto 0;
  background: url(/assets/images/hat.png) 110% 80%/600px no-repeat;
}
.header__hero h1 {
  font-size: 5.625rem;
  color: #fff;
}
.header__wrapper {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.header__action-btn {
  width: 15rem;
  height: 3.75rem;
  margin-right: 1.5rem;
  border-radius: 3.125rem;
  border: 2px solid #fff;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.header__action-btn:hover {
  background-color: #fff;
  color: #ff6b00;
}
.header__action-btn:active {
  background-color: rgba(255, 255, 255, 0.8392156863);
  border-color: rgba(255, 255, 255, 0.8392156863);
}
.header__watch-btn {
  box-sizing: content-box;
  position: relative;
  width: 57px;
  height: 57px;
  padding: 0;
  border: 6px solid transparent;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}
.header__watch-btn:hover {
  border-color: rgba(255, 255, 255, 0.2509803922);
}
.header__watch-btn:active {
  transform: scale(0.9);
}
.header__watch-btn img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
  margin: auto;
  font-size: 1.25rem;
  font-weight: 700;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 26rem;
}
.nav__link {
  color: #fff;
}
.nav__wrapper {
  display: flex;
}
.nav__lang-select-box {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}
.nav__lang-select-box span {
  margin-right: 0.625rem;
  color: #fff;
}
.nav__tel img {
  margin-right: 0.625rem;
}
.nav__tel a {
  display: flex;
  align-items: center;
  color: #fff;
}

.approach__section {
  max-width: 1200px;
  height: 40rem;
}
.approach__section h1 {
  width: 45.6rem;
  font-size: 4.375rem;
  line-height: 1rem;
}
.approach__section span {
  font-size: 4.375rem;
  font-weight: 400;
}
.approach__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.approach__wrapper-img {
  border: 2px solid #ff6b00;
  box-sizing: content-box;
  position: relative;
  width: 219px;
  height: 219px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}
.approach__wrapper-img img {
  position: absolute;
  top: 46px;
  left: 43px;
}
.approach__list {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.approach__link {
  font-size: 1.563rem;
  color: #262626;
}

.footer {
  position: relative;
  padding-top: 3rem;
  min-height: 400px;
}
.footer .container {
  height: 100%;
}
.footer__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.footer_primary {
  background: url(/assets/images/footer-bg-primary.svg) 0 0/contain repeat-x;
}
.footer_secondary {
  background: url(/assets/images/footer-bg-secondary.svg) 0 0/contain repeat-x;
}
.footer-nav, .footer-links {
  max-width: 1200px;
  margin: auto;
}
.footer-nav {
  margin-bottom: 70px;
}
.footer-card {
  color: white;
}
.footer-card__title {
  font-size: 1.5rem;
}
.footer-card__list {
  font-size: 1rem;
}
.footer-card__link {
  color: inherit;
}
.footer-links__image {
  width: 180px;
}

.nav-list__item {
  margin-bottom: 1.125rem;
}

.social-networks-box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) and (min-width: 768.01px) {
  .footer-nav, .footer-links {
    max-width: 780px;
  }
  .footer-nav {
    margin-bottom: 30px;
  }
  .footer-card__title {
    font-size: 1.2rem;
  }
  .footer-card__list {
    font-size: 0.8rem;
  }
  .footer-links__image {
    width: 140px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Century Gothic", sans-serif;
}

body {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
